In [1]:
import pandas as pd
import numpy as np
signature_file = "george_sigs_segmented.csv"

band_labels = ["ndvi","ci","psri","gndvi","s2_rep","ireci","s2_b", "s2_g",
 "s2_r", "s2_nir", "hv", "vv"]

class_labels = ["Closed canopy forest", "Open canopy forest", "Full sun cocoa",
                "Agroforestry cocoa", "Agricultural lands", "Oil-palm",
                "Built-up/bare"]

training_data = pd.read_csv(signature_file, names=
                           ["class_id"]+band_labels).astype(np.uint32)

In [2]:
training_data.at[training_data.class_id == 9, 'class_id'] = 2
training_data = training_data.drop_duplicates()
training_data = training_data[training_data.class_id != 8]

In [5]:
training_data.describe()

,class_id,ndvi,ci,psri,gndvi,s2_rep,ireci,s2_b,s2_g,s2_r,s2_nir,hv,vv
count,2674.000000,2674.000000,2674.000000,2674.000000,2674.000000,2674.000000,2674.000000,2674.000000,2674.000000,2674.000000,2674.000000,2674.000000,2674.000000
mean,3.586387,6739.089753,18881.705684,386.913987,6141.738968,721.961481,4411.214286,381.765146,552.401645,457.627898,2318.676889,7283.616679,25936.133508
std,1.792713,1063.308110,5099.424020,655.575696,652.749758,24.446549,1293.448265,87.420306,131.920118,223.254350,333.843601,2397.891374,4533.249537
min,1.000000,12.000000,32.000000,0.000000,11.000000,1.000000,8.000000,1.000000,1.000000,1.000000,4.000000,0.000000,0.000000
25%,3.000000,6606.250000,16063.750000,96.000000,5986.000000,722.000000,3618.250000,337.000000,478.000000,359.000000,2092.000000,6006.000000,23765.500000
50%,3.000000,6989.500000,19800.500000,177.000000,6246.000000,723.000000,4392.000000,360.000000,514.000000,396.000000,2308.500000,6945.000000,26329.000000
75%,4.000000,7273.750000,22429.500000,430.750000,6481.000000,725.000000,5222.500000,402.000000,597.000000,464.000000,2520.000000,8199.500000,28933.000000
max,7.000000,8140.000000,31469.000000,4869.000000,7282.000000,731.000000,9082.000000,984.000000,1386.000000,1952.000000,3868.000000,32167.000000,32767.000000

In [6]:
training_data.write_csv('george_sigs_cleaned.csv')

AttributeError: 'DataFrame' object has no attribute 'write_csv'